body(background-color: blueviolet;);text-align'-justify:font-size:18px;}
h1(text-align:center;backround-color,#2fbdba;color:#1731313;)
h3(text-align=justify;color:blue;;)
b(color;blue;font-size:18px;)
(color;blue;font-size:18px;)
header, foater 